

<center>
        <section class="section">
                        <div class="gallery autoplay items-4">
                                        <div id="item-1" class="control-operator"></div>
                                        <div id="item-2" class="control-operator"></div>
                                        <div id="item-3" class="control-operator"></div>
                                        <div id="item-4" class="control-operator"></div>
                
                                        <figure class="item">
                                                <img class="item"
                                                        src="https://i2.wp.com/www.brookings.edu/wp-content/uploads/2017/08/worker-field.jpg">
                                        </figure>
                
                                        <figure class="item">
                                                <img src="https://www.harvestpublicmedia.org/sites/kcur2/files/styles/x_large/public/201811/EH_H2Aworkers_Talbotfarm_103018.jpg">
                                        </figure>
                
                                        <figure class="item">
                                                <img
                                                        src="https://miro.medium.com/max/10000/1*PnpTj_Dv3YyyMFYXoBQSmQ.jpeg    ">
                                        </figure>
                
                                        <figure class="item">
                                                <img
                                                        src="http://arc-anglerfish-washpost-prod-washpost.s3.amazonaws.com/public/UCLNR2BL5MI6TEDOTVK3MRI6WQ.jpg">
                                        </figure>
                
                                        <div class="controls">
                                                <a href="#item-1" class="control-button">•</a>
                                                <a href="#item-2" class="control-button">•</a>
                                                <a href="#item-3" class="control-button">•</a>
                                                <a href="#item-4" class="control-button">•</a>
                                        </div>
                                </div>
                                <br>
                                <br>
                <div class="columns">
                        <div class="column">
                                <h2 class="title is-4">The History of Immigrants in the US Workforce</h2>
                                <p class="has-text-justified">
                                        The history of immigrants in the US workforce goes back to the founding of this country when slaves were shippd from africa to do the work of the rich and the white. But it wasnt just the slaves, people of every nationality came to the United States for the opportunity. If it were not for these imigrants the United States would have never reached where it is today.
                                </p>
                        </div>
                        <div class="column">
                                <h2 class="title is-4">The Current Workforce</h2>
                                <p class="has-text-justified">
                                        Immigrants today play a crucial role in the U.S. workforce. Although 17% of the overall workforce is foreign-born, certain industries are much more dependent on immigrants. About 25% of the construction workers in the United States are immigrants. About 1/3 of the immigrants in the workforce are undocumented.
                                </p>
                        </div>
                        <div class="column">
                                <h2 class="title is-4">Effect of the Hate</h2>
                                <p class="has-text-justified">
                                        As shown in the history of this country, if it werent for the inflow of immigrants are economy would be nothing. The rhetoric that President Trump presents for immigrants and latinos could have a great effect on the economy if their were to be more strict laws put into place.
                                </p>
                        </div>
                </div>
        </section>
</center>