<div class="carousel-wrapper">
        <span id="item-1"></span>
        <span id="item-2"></span>
        <span id="item-3"></span>
        <div class="carousel-item item-1">
                <a class="arrow arrow-prev" href="#item-3"></a>
                <a class="arrow arrow-next" href="#item-2"></a>
        </div>

        <div class="carousel-item item-2">
                <a class="arrow arrow-prev" href="#item-1"></a>
                <a class="arrow arrow-next" href="#item-3"></a>
        </div>

        <div class="carousel-item item-3">
                <a class="arrow arrow-prev" href="#item-2"></a>
                <a class="arrow arrow-next" href="#item-1"></a>
        </div>
</div>

<center>
        <section class="section">
                <div class="columns">
                        <div class="column">
                                <h2 class="title is-4">What is Immigration?</h2>
                                <p class="has-text-justified">
                                        Immigration is a proccess through which citizens from another country become
                                        permenant citizens/residents of another. Because of immigration bigger states
                                        have had great economic, cultural and social benefits. The immigration proccess
                                        varies country to country. The United States has currently 50 million immigrants
                                        living within its borders.
                                </p>
                        </div>
                        <div class="column">
                                <h2 class="title is-4">History of Immigration Law within the United Statesbg</h2>
                                <p class="has-text-justified">
                                        The United States Congress never really passed any single or sensibile
                                        legislation defining the immigration system. Instead congress passed a list of
                                        exclusionary bills. A few of these are as follows. <a
                                                href="https://www.loc.gov/law/help/statutes-at-large/47th-congress/session-1/c47s1ch126.pdf">Chinese
                                                Exclusion Act of 1882, <a
                                                        href="https://www.loc.gov/law/help/statutes-at-large/68th-congress/session-1/c68s1ch190.pdf">the
                                                        National Origins Act of 1924</a>, and <a
                                                        href="https://www.congress.gov/104/crpt/hrpt828/CRPT-104hrpt828.pdf">
                                                        the Illegal Immigration Reform and Immigrant Responsibility Act
                                                        of 1996.</a>
                                                The current system is a
                                                modge podge of a bunch of laws passed by the U.S. Congress and we are in
                                                desperate need of a reform.
                                </p>
                        </div>
                        <div class="column">
                                <h2 class="title is-4">Immigration</h2>
                                <p class="has-text-justified">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ultricies,
                                        ligula vel mollis porttitor, purus lorem ornare dui, et tristique velit libero
                                        et ipsum. Sed tempor ullamcorper sem, vitae malesuada sem ullamcorper vel.
                                        Pellentesque sit amet neque ut mi scelerisque tristique. Sed sed justo ut orci
                                        varius tincidunt. Nullam sodales lorem id nunc tincidunt accumsan. Sed congue
                                        nisi nec mollis pretium. Nam pretium feugiat nisl sed molestie. Etiam molestie
                                        pellentesque orci et faucibus. Vivamus diam urna, egestas non elit sit amet,
                                        auctor vulputate metus. Curabitur sagittis at orci id porta
                                </p>
                        </div>
                </div>
        </section>
</center>