<center>
        <section class="section">
                <div class="gallery autoplay items-4">
                        <div id="item-1" class="control-operator"></div>
                        <div id="item-2" class="control-operator"></div>
                        <div id="item-3" class="control-operator"></div>
                        <div id="item-4" class="control-operator"></div>

                        <figure class="item">
                                <img class="item"
                                        src="https://cdn.cnn.com/cnnnext/dam/assets/180630105701-06-immigration-rally-0630-dc.jpg">
                        </figure>

                        <figure class="item">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/d/d1/San_Jose_May_Day_01.jpg">
                        </figure>

                        <figure class="item">
                                <img
                                        src="https://cdn.cnn.com/cnnnext/dam/assets/180630140015-07-immigration-rally-0630.jpg">
                        </figure>

                        <figure class="item">
                                <img
                                        src="https://cdn.cnn.com/cnnnext/dam/assets/180630140549-08-immigration-rally-0630-ny.jpg">
                        </figure>

                        <div class="controls">
                                <a href="#item-1" class="control-button">•</a>
                                <a href="#item-2" class="control-button">•</a>
                                <a href="#item-3" class="control-button">•</a>
                                <a href="#item-4" class="control-button">•</a>
                        </div>
                </div>
                <br>
                <br>
                <div class="columns">
                        <div class="column">
                                <h2 class="title is-4">What is Immigration?</h2>
                                <p class="has-text-justified">
                                        Immigration is a proccess through which citizens from another country become
                                        permenan        t citizens/residents of another. Because of immigration bigger states
                                        have had great economic, cultural and social benefits. The immigration proccess
                                        varies country to country. The United States has currently 50 million immigrants
                                        living within its borders.
                                </p>
                        </div>
                        <div class="column">
                                <h2 class="title is-4">History of Immigration Law within the US</h2>
                                <p class="has-text-justified">
                                        The United States Congress never really passed any single or sensibile
                                        legislation defining the immigration system. Instead congress passed a list of
                                        exclusionary bills. A few of these are as follows. <a
                                                href="https://www.loc.gov/law/help/statutes-at-large/47th-congress/session-1/c47s1ch126.pdf">Chinese
                                                Exclusion Act of 1882, <a
                                                        href="https://www.loc.gov/law/help/statutes-at-large/68th-congress/session-1/c68s1ch190.pdf">the
                                                        National Origins Act of 1924</a>, and <a
                                                        href="https://www.congress.gov/104/crpt/hrpt828/CRPT-104hrpt828.pdf">
                                                        the Illegal Immigration Reform and Immigrant Responsibility Act
                                                        of 1996.</a>
                                                The current system is a
                                                modge podge of a bunch of laws passed by the U.S. Congress and we are in
                                                desperate need of a reform.
                                </p>
                        </div>
                        <div class="column">
                                <h2 class="title is-4">My Opinion</h2>
                                <p class="has-text-justified">
                                        In my opinionl, I believe everybody has a right to come to the United States and
                                        immigrate, I believe without any of these immigrants we would've never
                                        progressed economically, this country was built on the backs of immigrants,
                                        legal or illegal they have provided the backbone of this country.
                                </p>
                        </div>
                </div>
        </section>
</center>