<center>
        <section class="section">
                <section class="section">
                        <div class="container">
                                <h1 class="title">
                                        <%= title%>
                                </h1>
                                <p class="subtitle"><%= subtitle%></p>
                        </div>
                </section>
                <div class="columns">
                        <div class="column">
                                <img src="https://www.whitehouse.gov/wp-content/uploads/2017/11/President-Trump-Official-Portrait.jpg"
                                        height="250px" width="250px">
                                <h2 class="title is-4">President Trump</h2>
                                <p class="has-text-center">
                                        President Trump has spent a big part of his presidency building upon the
                                        anti-immigrant hate he put forward when he degraded Mexicans as rapists and drug
                                        smugglers at his campaign launch. Last October, as thousands of Central American
                                        migrants made their way to our southern border to seek asylum, Trump tweeted, in
                                        part, “This is an invasion of our Country and our Military is waiting for you!”.
                                </p>
                        </div>
                        <div class="column">
                                <img src="https://assets.weforum.org/article/image/large_8p2oz8hSqvkv1XF4Y5GclrR7fKATxJaNw5tFwRDRDIA.jpg"
                                        height="500px" width="500px">
                                <h2 class="title is-4">How can I help?</h2>
                                <p class="has-text-center">
                                        There is many ways you can help your local immigrant community. I am going to
                                        list a few things you can do to welcome them into your community. The first way
                                        is to host a supper club, you will bring eachother together throuh your meals.
                                        Call your state and federal represenatives, tell them that the immigrants in
                                        your community are valued members of it and that our country should live up to
                                        its values and remain a welcoming place.
                                </p>
                        </div>
                        <div class="column">
                                <h2 class="title is-4">Resources</h2>
                                <p class="has-text-center">
                                        <ul>
                                                <li><a href="https://www.whitehouse.gov">The White House</a></li>
                                                <li><a href="https://www.welcomingamerica.org/engage/take-action">Welcoming
                                                                America Group</a></li>
                                        </ul>
                                </p>
                        </div>
                </div>
        </section>
</center>