<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Immigration 💯</strong> by <a href="http://gusnetworks.me">August Eymann</a>. Using <a
        href="https://bulma.io">bulma.io</a>. The website content
      is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
    </p>
  </div>
</footer>