<footer class="footer">
  <div class="content has-text-centered">
    <span>
        The <a href="http://4chan.org/" style="cursor:default"><img src="https://raw.githubusercontent.com/AugustEymann/immigration-page/master/hacker.png" height="20"  width="20"></a> <a class="hackerman" href="https://i.kym-cdn.com/photos/images/newsfeed/000/913/571/cbf.gif"style="cursor:default">Hacker   </a>
    </span>
    <br>
    <strong>Immigration Crisis</strong> by <a href="http://gusnetworks.me">August Eymann</a>. Using <a
      href="https://bulma.io">bulma.io</a>. The website content
    is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
    </p>
  </div>
</footer>

<style>
  .hackerman {
    text-decoration: none;
    color: hsl(0, 0%, 29%);
  }
  .hackerman.link {
    cursor: default;
}
</style>